{% extends 'pages/index.html' %}


{% block content %}
    <div class="info-container">
        <h1>Info</h1>
        <br>

        <hr>
        <div>
            <a href="/photo/" style="color:black">Letter from photo</a>
            <br>
            <p>You can parse a photo and get single letter as a response</p>
        </div>

        <hr>
        <div>
            <a href="/video/" style="color:black">Text from video</a>
            <br>
            <p>You can parse a video and get text as a response</p>
        </div>

        <hr>
    </div>
{% endblock %}